<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="I am looking for programmers, search for spirit team you are one">
  <meta name="author" content="Jaysa">
  <title>FHSS</title>
  <link href="../static/img/fhss-logo.png" rel="icon" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="../static/css/@fontawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link type="text/css" href="../static/css/argon.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/custom_dashboard.css">
</head>

<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
  var messages = {
    {
      messages | safe
    }
  };
  for (var i = 0; i < messages.length; i++) {
    alert(messages[i]);
  }
</script>
{% endif %}
{% endwith %}
  <div class="main-content">
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <a href="javascript:void(0)" class="pl-sm-1">
          <img src="../static/img/brand/white.png" class="cbrand" alt="FHSS">
        </a>
        <a class="nav-link pr-0" href="javascript:void(0)" data-toggle="modal" data-target=".menu_modal">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle fa fa-building">
            </span>
            <div class="media-body ml-2 d-lg-block pr-sm-1 text-white"  data-dismiss="modal" data-toggle="modal" data-target=".logsout">
              Logout
            </div>
          </div>
        </a>
      </div>
    </nav>
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../static/img/theme/profile-cover.png); background-size: cover;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-7"></span>
      <div class="container-fluid mt-5">
        <div class="col-xl-12">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Erollee profile:</h3>
                </div>
              </div>
            </div>
              <table id="myTable" class="table">
                <thead>
                  <tr>
                    <th>FHSS</th>
                    <th>NIN</th>
                    <th>FIRST NAME</th>
                    <th>MIDDLE NAME</th>
                    <th>LAST NAME</th>
                    <th>GENDER</th>
                    <th>BLOOD GROUP</th>
                    <th>MARITAL STATUS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>{{user.fhss}}</th>
                    <td>{{user.nin}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.middle_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.blood_group}}</td>
                    <td>{{user.marital_status}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
    
          <div class="container-fluid mt-5">
            <div class="row">
              <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                  <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                      <div class="card-profile-image">
                        <a href="javascript:void(0)">
                          <img src="{{user.passport}}" class="rounded-circle">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"></div>
                  <div class="card-body pt-0 pt-md-4">
                    <div class="row">
                      <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                        <p>Account Type: {{user.sector_type}} <br><br><br></p>
                        <p>Mode: {{user.mode_of_reg}} </p>

                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <h3>
                        D.O.B <i>{{user.dob}}</i>
                      </h3>
                      <div>
                        <i class="ni education_hat mr-2"></i> Moible: {{user.phone}}
                      </div>
                      <div class="h5 mt-4">
                        <i class="ni business_briefcase-24 mr-2"></i> Email: {{user.email}}
                      </div>
                      <div class="h5 font-weight-300">
                        

                        <form action="{{url_for('hcp.eprofile',id = user.id)}}" method="POST">

                        <div class="input-group">
                          <input type="text" name="post_cost" class="form-control" placeholder="Cost">
                        </div>
                        <br><br>

                        <div class="input-group">
                          <input type="text" name="ailment" class="form-control" placeholder="Ailment"><br><br>
                        </div>
                        <input type="submit" class="input-group-btn btn btn-primary" value="Submit">
                      </form>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer p-3">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2018 <a href="javascript:void(0)" class="font-weight-bold ml-1" target="_blank">SpritTeam</a>
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link" target="_blank">Fhss</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>


    <div class="modal fade logsout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content padding-50 modal-logout">
          <p class="centralise">
            Are you sure you want to <span style="color: tomato"><i class="fa fa-sign-out"></i>Logout?</span>
          </p>
          <div class="row">
            <a href="/logout" class="btn btn-primary col-md-5 mr-4 col-sm-5">Yes</a>
            <button class="btn btn-secondary col-md-5 ml-4 col-sm-5" data-dismiss="modal" aria-label="Close">No</button>
          </div>
        </div>
      </div>
    </div>
  <script src="../static/js/jquery/dist/jquery.min.js"></script>
  <script src="../static/js/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/argon.js"></script>
</body>
</html>